<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.greener1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DashboardActivity" />
        <activity android:name=".AddReusable" />
        <activity android:name=".CompletedChallenge" />
        <activity android:name=".GoRecycle" />
        <activity android:name=".GoReusable" />
        <activity android:name=".EnergyActivity" />
        <activity android:name=".DietActivity" />
        <activity android:name=".WaterActivity" />
        <activity android:name=".WasteActivity" />
        <activity android:name=".Logout" />
        <activity android:name=".ChallengesHistory" />
        <activity android:name=".SettingsUser" />
        <activity android:name=".HomeFragment" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".GreenTech" />
        <activity android:name=".Testimoniais" />
        <activity android:name=".About" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".UserAreaActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>